################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/ChatGptOcr/bin/Debug/net7.0-windows
/ChatGptOcr/obj
/Util/obj
/Util/bin/Debug/net7.0-windows
